.body-cart .title{
    font-size: 30px;
    display: flex;
    justify-content: center;
    border: 0;
    color: #72bcd4;
    font-weight: 600;
    margin-top: 40px;
}
.body-cart table{
    width:100%;
    text-align:center;
    color:gray;
    line-height:30px;
}
.body-cart table tr td input{
    outline:0;
    width: 30px;
    text-align:center;
    border:0;
}
.body-cart table tr td button{
    border:0;
    background:inherit;
    color: gray;
}
.body-cart table tr td button:hover{
    color:black;
}
.body-cart table tr td .delete-button{
    font-size:20px;
    border-radius:5px;
    background:#72bcd4;
    color:white;
    width:100%;
}
.body-cart table tr td .delete-button:hover{
    background:gray;
}
.return-button{
    color: white;
    background-color: #72bcd4;
    border: 0;
    border-radius: 10px;
    width: 140px;
    height: 30px;
    font-weight: 700;
}
.return-button:hover{
    background-color: gray;
}
.next-button{
    color: white;
    background-color: #72bcd4;
    border: 0;
    border-radius: 10px;
    width: 170px;
    height: 30px;
    font-weight: 700;
    right: 0;
    position: absolute;
}
.next-button:hover{
    background-color: gray;
}