* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: sans-serif; */
}

.navbar {
  position: relative;
  bottom: -130px;
  height: 340px;
  width: 70px;
  background-color: #fff;
  border-radius: 35px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.navbar ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.navbar ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navbar ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navbar ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  text-align: center;
  transition: 0.5s;
}
.navbar ul li a .icon i {
  font-size: 24px;
  color: black;
}
.navbar ul li a .icon i:hover {
  color: gray;
}
.post-container {
  top: 10px;
  left: 340px;
  position: absolute;
  border-radius: 20px;
  width: 600px;
  margin: auto;
  border: solid #808080;
}
.user-write-post {
  text-align: center;
}
.user-write-post img {
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
  height: 40px;
}
.user-write-post textarea {
  margin-bottom: -5px;
  width:450px;
  font-weight: 500;
  color: black;
  border: 0;
}
.user-write-post button {
  border: white;
  background: white;
  color: black;
  /* border-radius: 6px; */
  padding: 5px;
  margin-left: 20px;
}
.user-write-post button:hover {
  color: gray;
}
.fetch-posts {
  bottom: 100px;
}
.fetch-posts .user-name {
  margin-top: 5px;
  margin-bottom: 10px;
}
.fetch-posts img {
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
  height: 40px;
}
.fetch-posts .post-icon button {
  border: 0;
  background: white;
  color: black;
}
.fetch-posts .post-icon button i {
  font-size: 20px;
}
.fetch-posts .post-icon button i:hover {
  color:red;
}
.fetch-posts .post-icon {
  margin-top: 10px;
}
