@font-face {
  font-family: Be VietNam Pro;
  src: url(../fonts/BeVietnamPro-Regular.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Be VietNam Pro", sans-serif;
}
.navbar {
  display: flex;
  /* justify-content: space-between; */
  height: 100px;
  width: 100%;
  background-color: white;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.navbar .navbar-courses {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  font-size: 17px;
}
.navbar .navbar-courses button {
  color: #72bcd4;
  width: 100%;
  text-align: center;
  display: flex;
  border: none;
  background-color: inherit;
}
.navbar .navbar-courses button i {
  margin-left: 100px;
}
.navbar .navbar-courses:hover ul {
  display: block;
}
.navbar .navbar-courses ul {
  display: none;
  position: absolute;
  list-style: none;
  margin-top: 300px;
  line-height: 50px;
  background-color: white;
  color: #72bcd4;
  margin-left: 80px;
  border: 2px solid gray;
}
.navbar .navbar-courses ul li {
  width: 300px;
  padding-left: 10px;
}
.navbar .navbar-courses ul li:not(:first-child) {
  border-top: 2px dotted #72bcd4;
}
.navbar .navbar-courses ul li:hover {
  color: white;
  background-color: #72bcd4;
}
.navbar .navbar-courses ul a {
  text-decoration: none;
  list-style: none;
  color: #72bcd4;
}
.navbar .search-bar {
  display: flex;
  /* position: relative; */
  background: white;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  justify-content: center;
  margin-top: 35px;
  margin-left: 40px;
}
.navbar .search-bar form {
  align-items: center;
  display: flex;
  border: 1px solid #72bcd4;
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
}
.navbar .search-bar form input {
  width: 100%;
  border: none;
  outline: 0;
}
.navbar .search-bar form input::placeholder {
  color: #72bcd4;
}
.navbar .search-bar span {
  border: 1px solid #72bcd4;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  height: 30px;
  width: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
}
.navbar .search-bar span i {
  color: #72bcd4;
}
.navbar .search-bar span i:hover {
  color: gray;
}
.navbar .logo-navbar {
  display: inherit;
  position: relative;
}
.navbar .auth-navbar {
  display: flex;
  /* position: relative; */
  justify-content: flex-end;
  margin-top: 30px;
  margin-left: auto;
  padding-right: 20px;
  background: white;
  width: 150px;
  height: 40px;
}
.navbar .auth-navbar .register {
  color: #72bcd4;
  background: white;
  border: none;
  width: 80px;
  height: 40px;
  font-weight: bold;
}
.navbar .auth-navbar .register:hover {
  color: gray;
}
.navbar .auth-navbar .login {
  color: white;
  background: #72bcd4;
  border: 0;
  width: 90px;
  height: 40px;
  border-radius: 20px;
  border-left: none;
  font-weight: bold;
  z-index: 1;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.navbar .auth-navbar .login:hover {
  background: gray;
}
.body-container .title {
  font-size: 30px;
  display: flex;
  justify-content: center;
  border: 0;
  color: #72bcd4;
  font-weight: 600;
  margin-top: 30px;
}
.body-container .courses-data .category .category-name {
  margin: 20px;
  font-weight: 750;
  color: gray;
}
.body-container .courses-data .category .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  width: 100%;
}
.body-container .courses-data .category .box-container .box {
  margin: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #72bcd4;
  border-radius: 5px;
  text-align: center;
  padding: 30px 20px;
  color: gray;
}
.body-container .courses-data .category .box-container .box img {
  width: 230px;
  height: 200px;
  padding-bottom: 10px;
}
.body-container .courses-data .category .box-container .box h3 {
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
}
.body-container .courses-data .category .box-container .box p {
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
}
.body-container .courses-data .category .box-container .box .button-container {
  display: flex;
  margin: 0;
  justify-content: center;
}
.body-container .courses-data .category .box-container .box .purchase-button {
  color: white;
  background: #72bcd4;
  border: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-weight: 700;
  height: 30px;
  width: 100px;
  font-size: 15px;
}
.body-container
  .courses-data
  .category
  .box-container
  .box
  .purchase-button:hover {
  background: gray;
}
.body-container
  .courses-data
  .category
  .box-container
  .box
  .view-detail-button {
  color: #72bcd4;
  background: inherit;
  border: 1px solid #72bcd4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 700;
  height: 30px;
  width: 140px;
  font-size: 15px;
}
.body-container
  .courses-data
  .category
  .box-container
  .box
  .view-detail-button:hover {
  background-color: gray;
  color: white;
}
/* Thanh công cụ bên phải */
.icon-bar-and-arrow {
  display: none;
  position: fixed;
  right: 0;
  top: 160px;
  z-index: 1;
}
.icon-bar-and-arrow .icon-bar ul {
  flex-direction: column;
  background: white;
  border-radius: 20px;
  border: 2px solid gray;
}
.icon-bar-and-arrow .icon-bar ul .login-icon {
  display: none;
  list-style: none;
  width: 50px;
  height: 70px;
  z-index: 1;
}
.icon-bar-and-arrow .icon-bar ul .question-icon {
  display: none;
  list-style: none;
  width: 50px;
  height: 70px;
  z-index: 1;
}
.icon-bar ul li {
  position: relative;
  list-style: none;
  width: 50px;
  height: 70px;
  z-index: 1;
}
.icon-bar ul li button {
  border: 0;
  background: inherit;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
}
.icon-bar ul li button .icon {
  position: relative;
  display: block;
  line-height: 75px;
  text-align: center;
  transition: 0.5s;
}
.icon-bar ul li button .icon i {
  font-size: 22px;
  color: #72bcd4;
}
.icon-bar ul li button .icon i:hover {
  color: gray;
}
.icon-bar-and-arrow .right-arrow button {
  /* margin-right:auto;
  position: fixed;
  display:inherit;
  flex-direction: column;*/
  margin-top: 130px;
  background: inherit;
  border: 0;
  font-size: 24px;
  color: gray;
}
.icon-bar-and-arrow .right-arrow button i:hover {
  color: black;
}
.left-arrow button {
  right: 0;
  position: fixed;
  display: flex;
  top: 290px;
  background: inherit;
  border: 0;
  font-size: 24px;
  color: gray;
}
.left-arrow button i:hover {
  color: black;
}
/*phần chân web*/
footer {
  background-color: #72bcd4;
  color: white;
  padding: 40px 0;
  margin-top: 50px;
}
footer .row {
  display: flex;
  flex-wrap: wrap;
}
footer .row .column {
  width: 25%;
  padding: 0 15px;
}
footer .row .column h4 {
  font-size: 18px;
  margin-bottom: 30px;
}
footer .row .column ul {
  list-style: none;
}
footer .row .column ul li {
  line-height: 30px;
}
footer .row .column ul li a {
  font-size: 16px;
  text-decoration: none;
  font-weight: 100;
  color: white;
}
footer .row .column ul li a:hover {
  color: gray;
}
/*logo*/
.navbar .logo {
  display: inherit;
  position: relative;
}
.navbar .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 1000px) {
  .navbar .auth-navbar {
    display: none;
  }
  footer .row {
    flex-direction: column;
    gap: 20px;
  }
  footer .row .column {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .navbar .navbar-courses {
    display: none;
  }
}
@media (max-width: 500px) {
  .navbar {
    justify-content: space-between;
  }
  .navbar .search-bar {
    width: 100%;
  }
  .navbar .search-bar input {
    width: 100%;
  }
}
